/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/icon?family=Roboto';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #f9f9f9;
}

.logo{
  height: 30px;
  padding: 15px;
}


.agenda{
  padding: 2em 4em;
  max-width: 80%;
  align-self: center;
}

.usuario{
  padding:2em 10em;
  width:60%;
}    
